

.smartimg {
  padding-top: 80px;
}

.helpimg {
  padding-top: 80px;

}

.sierraimg {
  padding-top: 80px;

}

p{
  font-family: 'Aldrich', sans-serif;
}

h1{
  font-family: 'Aldrich', sans-serif;
}
